/**
 * Feuille de style de la liste des élèves
 *
 * (eleve-liste.phtml)
 * 
 * @project sbm
 * @package public/css/tra/sbm-gestion/eleve
 * @filesource eleve-ajout.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 5 juil. 2020
 * @version 2020-2.6.0
 **/
@charset "UTF-8";

td.service {
	min-width: 350px;
}

.service table.itineraires {
	width: 100%;
}

.service td.first {
	font-family: monospace;
	width: 42px;
}

.service td.eighth {
	text-align: right;
}

td.responsables {
	max-width: 150px;
}

td.etablissement {
	max-wdth: 135px;
}