/**
 * Feuille de style 
 *
 * 
 * 
 * @project sbm
 * @package public/css/tra/sbm-gestion/eleve-gestion
 * @filesource invite.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 3 avr. 2021
 * @version 2021-2.6.1
 **/
@charset "UTF-8";

.label-180 label {
	display: inline-block;
	width: 180px;
}

.label-145 label {
	display: inline-block;
	width: 145px;
}

.label-180 div.beneficiaire label, .label-180 div.domicile label,
	.label-180  div.transport label {
	display: block;
	width: inherit;
	margin-right: 5px;
}

.label-180 div.beneficiaire label.sbm-label-radio {
	display: inline-block;
}

.label-180 div.validite label {
	width: inherit;
	margin-right: 5px;
}

div.beneficiaire div, div.validite div, div.domicile div, div.transport div
	{
	margin-right: 25px;
}

div.domicile, div.destination, div.transport {
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid #f78042
}

label.note {
	vertical-align: top;
}

#fiche-inner fieldset.sbm-page1 fieldset legend:after {
	color: #f78042;
	content: "*";
}

#fiche-inner label.sbm-label-radio {
	width: 85px;
}

#fiche-inner label.sbm-label-radio:after {
	content: none;
}

div#inner-motifDemande {
	padding-left: 15px;
	width: 50%;
}

div#inner-motifRefus {
	display: none;
	padding-left: 15px;
	width: 50%;
}

textarea {
	width: 99.5%;
	border-radius: 4px 4px 4px 4px;
}