/**
 * Feuille de style des pages du module
 * 
 * @project sbm
 * @package public/css/ccmgc/sbm-installation
 * @filesource gestion-config.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 5 mai 2019
 * @version 2019-2.5.0
 **/
#sbm-config label {
	display: inline-block;
	padding-left: 5px;
	width: 200px;
}

#sbm-config input[type=text] {
	width: 30em;
	margin-bottom: 0.5em;
}

#sbm-config select {
	margin-bottom: 0.5em;
}

#sbm-config input[type=submit] {
	margin-left: 20px;
}

#sbm-config input[type=submit][name=submit] {
	margin-left: 205px;
}

#sbm-config input[type=submit][name=submit].calendar {
	margin-left: 20px;
}

#sbm-config input[type=button], #sbm-config button {
	margin-left: 50px;
}

#sbm-config label {
	display: inline;
}

#sbm-config span.label {
	display: inline-block;
	width: 10em;
}

#sbm-config fieldset.sbm-page1 {
	margin-bottom: 0.3em;
	float: left;
	width: 47%;
}

#sbm-config #edit-jquery fieldset {
	float: none;
	width: 75%;
}

#sbm-config #edit-jquery label {
	display: block;
	width: 700px;
}

#sbm-config #edit-jquery label span {
	display: inline-block;
	width: 10em;
}

#sbm-config #edit-jquery input[type="text"] {
	width: 550px;
}

#sbm-config #config-mail span {
	display: inline-block;
	width: 11em;
}