/**
 * Feuille de style des formulaires de saisie d'un élève
 *
 * (ajout.phtml et ajout31.phtml)
 * 
 * @project sbm
 * @package public/css/mgc/sbm-gestion/eleve
 * @filesource eleve-ajout.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 10 avr. 2019
 * @version 2019-2.5.0
 **/
.table-cell div {
	display: inline-block;
}
.annee-precedente {
	background: #eee;
	color: gray;
	border-color: gray;
	font-size: 80%;
}
#eleve {
	line-height: 1.2em;
}

#commun div.label {
	display: inline-block;
	padding-left: 5px;
	min-width: 80px;
}

#commun label {
	display: inline-block;
	padding-left: 5px;
}

#commun-col1 {
	width: 423px;
}

#commun-col1 div.label, #commun-col1 label {
	width: 140px;
}

#commun-col1 #wrapper-joursTransport label {
	width: 5em;
	padding-left: 0;
}

#wrapper-joursTransport label:after {
	content: none;
}

#ligne-dateDebut-dateFin label {
	width: inherit;
	margin-right: 3px;
}

#commun-col2 {
	width: calc(100% - 603px);
}

#commun-col2 label {
	width: 107px;
}

#commun-col2 label.dp {
	width: 3.2em;
}

#commun-col2 label.interne {
	width: 6em;
	margin-right: 3px;
}

#commun-col2 label.sbm-label-radio:after {
	content: none;
}

#commun-col2 span.annee-precedente {
	margin-top: 3px;
}

#commun-col2 span.etablissement-precedent {
	margin-left: 112px;
}

#commun-col2 span.classe-precedente {
	margin-left: 20px;
}

#commun-col3 {
	width: 160px;
}

#commun-col3 #wrapper-numero div, #commun-col3 #wrapper-inscrit div {
	display: inline-block;
}

#commun-col3>div {
	min-height: 19px;
	margin-top: 2px;
	margin-bottom: 3px;
}

#commun-col3 div.label, #commun-col3 label {
	display: inline-block;
	padding-left: 5px;
}

#commun-col3 label.checkbox {
	min-width: 130px;
}

div#wrapper-regime {
	text-align: right;
}

#fiche-inner #wrapper-regime fieldset {
	width: 150px;
	display: inline-block;
	margin-right: 15px;
	text-align: right;
	margin-right: 15px;
}

#wrapper-regime legend {
	text-align: left;
}

#wrapper-regime legend:after, #wrapper-joursTransport legend:after,
	#wrapper-demandeR1 legend:after {
	color: #f78042;
	content: '*';
}

div#ligne-dateN-sexe {
	display: inline-table;
	width: 100%;
}

#ligne-dateN-sexe div.table-cell {
	display: table-cell;
}

#ligne-dateN-sexe div.align-right {
	text-align: right;
}

div#ligne-classe-regime {
	display: inline-table;
	width: 100%;
}

#ligne-classe-regime div.table-cell {
	display: table-cell;
}

#ligne-classe-regime div.align-right {
	text-align: right;
}

#wrapper-distanceR1 label {
	margin-right: 5px;
}

div#wrapper-demandeR1 {
	margin-left: 10px;
}

#wrapper-demandeR1 label.sbm-label-radio:after {
	content: none;
}

#wrapper-anneeComplete label:after, #wrapper-derogation label:after,
	#wrapper-district label:after, #wrapper-fa label:after,
	#wrapper-paiement label:after {
	content: none;
}

#wrapper-commentaire textarea {
	width: 99.5%;
	border-radius: 4px 4px 4px 4px;
}