/**
 * Feuille de style des formulaires de saisie des lots de marché
 * 
 * @project sbm
 * @package public/css/mgc/sbm-gestion/transport
 * @filesource circuit-fiche.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 28 mars 2019
 * @version 2019-2.5.0
 **/
 div.tiers {
	width: calc(33% - 25px);
	margin-right: 25px;
}

div.tiers-droite {
	width: calc(33% - 25px);
}

label {
	display: inline-block;
	padding-left: 5px;
	width: 170px;
}

#wrapper-semaine label.sbm-label-semaine {
	width: 0;
	display: inline;
	margin-right: 20px;
}

label.sbm-label-semaine.required:after {
	content: none;
}

#circuit-semaine legend:after {
	color: #f78042;
	content: '*';
}

input.submit {
	margin-top: 6px;
	margin-left: 175px;
}

fieldset.horaires {
	display: inline-table;
	border: 1px solid rgb(169,169,169);
	border-radius: 4px 4px 4px 4px;
}

legend.horaires {
	display: table-row-group;
}
.horaires div.legend {
	display: table-cell;
	width: 10em;
}

.horaires div.content {
	display: table-row-group;
}

.horaires .content div.row-inner {
	display: table-cell;
}

div.nature, div.aller {
	width: 10em;
}

div.retour1 {
	width: 6.6em;
}