/**
 * Feuille de style des formulaires de saisie des services
 * 
 * @project sbm
 * @package public/css/mgc/sbm-gestion/transport
 * @filesource service-fiche.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 26 mars 2019
 * @version 2019-2.5.0
 **/
div.tiers {
	width: calc(33% - 25px);
	margin-right: 25px;
}

div.tiers-droite {
	width: calc(33% - 25px);
}

label {
	display: inline-block;
	padding-left: 5px;
	width: 170px;
}

label.sbm-label-semaine {
	width: 50px;
}

label.sbm-label-nature-carte {
	width: 160px;
}

label.sbm-label-semaine.required:after, label.sbm-label-nature-carte.required:after
	{
	content: none;
}

#service-horaire1 legend:after, #service-natureCarte legend:after {
	color: #f78042;
	content: '*';
}

input.submit {
	margin-top: 6px;
	margin-left: 175px;
}