/**
 * Feuille de style des pages du module
 * 
 * @project sbm
 * @package public/css/ccmgc
 * @filesource sbm.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 8 mai 2019
 * @version 2019-2.5.0
 **/
div#wrapper-editeur {
	zoom: 1;
}

#wrapper-editeur fieldset.sbm-page1 {
	float: left;
	width: 800px;
}

#wrapper-editeur fieldset.sbm-page1.col2 {
	width: 300px;
}

#wrapper-editeur .col2 ul {
	padding-left: 15px;
}

#wrapper-editeur .col2 li {
	list-style-type: square;
	padding-left: 4em;
	text-indent: -4em;
}

#wrapper-editeur textarea.file-content {
	width: 100%;
	height: 320px;
}

label.bloc {
	display: block;
	font-weight: bold;
}

#menugeneral-inner form {
	display: inline-block;
}

/*--------- TOP-SITE -----------------*/
#top-site {
	height: 20px;
	margin: 0;
	text-align: center;
	font-size: 0.75em;
	color: #999;
	width: 100%;
	padding: 0;
}

#top-site a {
	color: #666;
	padding: 1px 4px;
	text-decoration: none;
}

#top-site a:hover {
	color: black;
	font-weight: bold;
}

#top-site div.float-left {
	position: initial;
	top: initial;
}

/*--------- Header -----------------*/
#bandeau {
	height: 195px;
	margin: 0;
	width: 100%;
}

.page1 #header #bandeau {
	background-image: url("/img/bandeau-sbm.png");
        background-size: 100% 195px;
	background-repeat: no-repeat;
}

div#bandeau div#as {
	margin-top: 148px;
	margin-left: 670px;
	font-size: 3em;
	font-weight: bold;
	color: white;
}

/*-------- Footer -----------------*/
#footer {
	color: #666;
	font-size: 0.75em;
	height: 23px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	clear: both;
	overflow: hidden;
}

#footer a {
	color: #666;
	text-decoration: none;
}

#footer a:hover {
	color: black;
	font-weight: bold;
}
