html {
	height: 100%;
}

body {
	background-color: #F3F3F3;
	font-size: 11px;
}

a,a:hover {
	color: #91ABCB;
	text-decoration: none;
}

a:visited {
	
}

p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	clear: left;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #E48C1B;
	margin: 0px;
	font-weight: normal;
	padding: 0px;
}

h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #91ABCB;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	display: block;
	clear: left;
}

.clear {
	clear: both;
}

.contener_interface {
	width: 963px;
	height: 100%;
	padding: 0px 10px;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	background-color: #FFFFFF;
}

.contener_general {
	width: 983px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.header {
	position: relative;
	height: 175px;
	width: 963px;
	background-repeat: no-repeat;
	background-position: 0px 24px;
}

.container_banner {
	width: 963px;
	background-color: #FFF;
	height: 160px;
	overflow: hidden;
	padding: 24px 0px 0px 0px;
}

.container_banner .container_banner_cycle a {
	background-color: #FFF;
	border: 0 !important;
}

.centre {
	padding-top: 15px;
	width: 963px;
	padding-bottom: 15px;
	background-image: url(../images/degarder_fond_de_box.gif);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	overflow: auto;
	height: 70%;
}

.footer {
	margin-bottom: 0;
	background-color: #333333;
	width: 943px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	padding: 10px;
	float: left;
}

.contener_nav1_header {
	top: 0px;
	right: 0px;
	position: absolute;
	width: 717px;
	background-color: #FFFFFF;
	height: 24px;
	padding-top: 10px;
	text-align: center;
	z-index: 1000;
}

.contener_nav2_header a {
	text-decoration: none;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: black;
}

.contener_nav2_header a:hover {
	color: #f68b32 !important;
}

.sf-menu {
	margin: 0px padding :   0px;
	width: 963px;
	height: 24px;
}

.contener_rechecher_header {
	top: 34px;
	right: 0px;
	position: absolute;
	width: 707px;
	height: 24px;
	padding-top: 10px;
	text-align: right;
	padding-right: 10px;
	z-index: 1000;
}

.contener_logo {
	top: 0px;
	left: 0px;
	position: absolute;
	height: 123px;
	width: 246px;
	z-index: 1000;
}

.contener_mentions_plan {
	float: left;
}

.contener_wf {
	float: right;
}

.contener_home_centre_gauche {
	width: 329px;
	float: left;
	padding-left: 10px;
}

.contener_home_centre_centre {
	width: 353px;
	float: left;
	padding-right: 9px;
	padding-left: 9px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-bottom: 10px;
}

.contener_home_centre_droite {
	width: 251px;
	float: left;
}

.contener_home_dossier_du_mois {
	width: 311px;
	margin-right: auto;
	margin-left: auto;
}

.contener_home_news {
	
}

.contener_home_video {
	width: 233px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

.contener_home_video a {
	color: #000;
}

.contener_home_magazine {
	width: 185px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	background-color: #FFCB04;
}

.contener_home_sondage {
	width: 223px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.contener_nombre_reactions_droite {
	background-image: url(../images/fr/picto_reactions.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	font-size: 9px;
	color: #FFFFFF;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 2px;
	height: 17px;
	width: 24px;
	text-align: center;
}

.contener_nombre_reactions_gauche {
	background-image: url(../images/fr/picto_reactions.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	font-size: 9px;
	color: #FFFFFF;
	padding-top: 2px;
	height: 17px;
	width: 24px;
	text-align: center;
	background-color: #91ABCB;
}

.contener_lire_la_suite_droite {
	float: right;
	font-size: 9px;
	color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	height: 16px;
	width: 24px;
	text-align: center;
}

.contener_reactions {
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	height: 17px;
	text-align: center;
}

.contener_titre_video {
	padding-top: 5px;
	height: 19px;
}

.contener_legende_video {
	padding-right: 8px;
	padding-top: 3px;
	text-align: justify;
}

.contener_box_infos_home {
	padding: 10px;
	margin-top: 10px;
	border: 1px dotted #CCCCCC;
}

.contener_gmap_home {
	width: 353px;
	height: 353px;
	margin-bottom: 10px;
}

.contener_cobas_et_vous_home {
	margin-top: 10px;
	background-image: url(../images/fr/degarder_fond_de_box.gif);
	background-repeat: repeat-x;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.contener_cobas_et_vous_home_txt {
	line-height: 20px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.contener_cobas_et_vous_home_photo {
	float: right;
}

.contener_newsletter_home {
	margin-top: 10px;
	padding-top: 20px;
	padding-right: 35px;
	padding-bottom: 15px;
	padding-left: 35px;
	background-color: #B5D334;
}

.separateur_nav1_header {
	margin-right: 20px;
	margin-left: 20px;
}

.separateur_nav2_header {
	margin-right: 33px;
	margin-left: 33px;
}

.btn_ok {
	vertical-align: middle;
}

.carre_deco {
	float: right;
}

.photo_dossier_du_mois_home {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.form {
	margin: 0px;
	padding: 0px;
}

.txt9_ffffff {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

.txt_12_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #91ABCB;
	text-decoration: none;
}

.txt_16_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #91ABCB;
}

.txt_18_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #91ABCB;
}

.txt_20_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #91ABCB;
}

.txt_11_333333 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}

.txt_12_333333,.txt_12_333333:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

.txt_13_333333 {
	font-size: 13px;
	text-decoration: none;
}

.txt_14_333333 {
	font-size: 14px;
	text-decoration: none;
}

.txt_16_333333 {
	font-size: 16px;
	text-decoration: none;
}

.lien_txt_10_333333 {
	color: #333333;
	text-decoration: none;
	font-size: 10px;
}

.lien_txt_12_333333 {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}

.lien_txt_14_333333 {
	color: #333333;
	text-decoration: none;
	font-size: 14px;
}

.field_newsletter_home {
	vertical-align: middle;
	width: 200px;
}

.contener_field_newsletter_home {
	padding-top: 5px;
	padding-bottom: 5px;
}

.fond_centre_home {
	width: 963px;
	background-repeat: repeat-y;
	background-position: left top;
	float: left;
	background-image: url(../images/filet_centre_home.gif);
}

.contener_liens_bas {
	float: left;
	width: 963px;
	background-color: #dcdcdc;
}

.contener_box_lien_bas {
	float: left;
	width: 208px;
	border-top-width: 0px;
	border-right-width: 3px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	line-height: 18px;
	height: 105px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.contener_box_lien_bas2 {
	float: left;
	width: 210px;
	line-height: 18px;
	height: 95px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.image_titre_lien_bas {
	margin-bottom: 8px;
}

.contener_centre_inter {
	width: 690px;
	float: rigth;
	padding-left: 10px;
	display: block;
}

.contener_droite_inter {
	width: 242px;
	margin-right: 10px;
	padding-left: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	float: left;
}

.contener_btn_retour_actu {
	float: right;
	height: 44px;
	text-align: right;
}

.separateur_5pt {
	font-size: 5px;
}

.image_reactions {
	vertical-align: middle;
}

.separateur_listing {
	margin-bottom: 10px;
	padding-top: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	float: left;
	width: 670px;
	font-size: 1px;
	margin-right: 5px;
	margin-left: 5px;
}

#contener_gmap_transport {
	width: 670px;
	height: 370px;
	margin-top: 10px;
}

#contener_gmap_baia {
	width: 670px;
	height: 370px;
	margin-top: 10px;
}

#contener_gmap_decheteries {
	width: 670px;
	height: 370px;
	margin-top: 10px;
}

#contener_gmap_verre {
	width: 670px;
	height: 370px;
	margin-top: 10px;
}

.--------------fiche_actu------------------- {
	
}

.contener_actualite_a_la_une {
	float: left;
	width: 630px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #EAEAEA;
	margin-right: 5px;
	margin-left: 5px;
	clear: both;
}

.contener_box_actualites {
	float: left;
	width: 680px;
}

.contener_header_actu {
	width: 670px;
	height: 30px;
	float: left;
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_date_actu_calendrier_fiche {
	float: right;
	width: 65px;
	margin-bottom: 5px;
	margin-left: 15px;
	text-align: center;
}

.contener_jour_mois_annee {
	border: 1px solid #CCCCCC;
	width: 65px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
}

.date_jour {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	color: #91ABCB;
	width: 65px;
	line-height: 20px;
	padding-top: 3px;
	background-color: #FFFFFF;
}

.date_mois {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #333333;
	width: 65px;
	background-color: #FFFFFF;
}

.date_annee {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFFFF;
	width: 65px;
	background-color: #91ABCB;
	padding-bottom: 2px;
	padding-top: 2px;
}

.contener_texte_actu_calendrier {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	clear: both;
}

.contener_diaporama_actu {
	float: left;
	width: 680px;
}

.contener_footer_article {
	float: left;
	width: 670px;
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 5px;
}

.photo_a_la_une {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.field_case_mois {
	vertical-align: middle;
}

.contener_picto_pdf {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding-right: 10px;
	clear: both;
}

.contener_diaporama_actu {
	width: 680px;
	float: left;
}

.contener_titre_diapo {
	float: left;
	width: 680px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.btn_slider {
	cursor: pointer;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.contener_photo_diapo {
	float: left;
	overflow: hidden;
	position: relative;
	width: 640px;
	height: 177px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.contener_photo_diapo_element {
	position: absolute;
	padding: 0px 51px;
	width: 640px;
}

.contener_donnez_votre_avis {
	width: 670px;
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBB4B0;
	border-right-color: #BBB4B0;
	border-bottom-color: #BBB4B0;
	border-left-color: #BBB4B0;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_titre_autre_date {
	float: left;
	width: 670px;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_plus_de_date {
	background-color: #EAEAEA;
	float: left;
	width: 650px;
	padding: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_btn_reaction {
	float: right;
	margin-right: 15px;
	margin-left: 10px;
	margin-top: 3px;
}

.contener_texte_reactions {
	width: 650px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #EAEAEA;
	border-right-color: #BBB4B0;
	border-bottom-color: #BBB4B0;
	border-left-color: #BBB4B0;
	margin-top: 5px;
	float: left;
	background-color: #F3F2F1;
	padding: 10px;
}

.contener_auteur_reactions {
	float: left;
	width: 80px;
	margin-right: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.contener_txt_reactions {
	float: left;
	width: 560px;
}

.contener_message_reactions {
	width: 650px;
	margin-top: 5px;
}

.contener_phrase_inscription_reactions {
	width: 645px;
	margin-top: 5px;
	height: 24px;
	padding-right: 5px;
}

.contener_btn_connexion_inscription {
	float: right;
	padding-right: 5px;
}

.separateur_dernieres_actus {
	background-color: #BBB4B0;
	font-size: 1px;
	height: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.avatar {
	margin-bottom: 5px;
	border: 3px solid #FFFFFF;
}

.field_message_reactions {
	width: 635px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.field_btn_reactions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #91ABCB;
	padding-right: 5px;
	padding-left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	vertical-align: middle;
	margin-bottom: 5px;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.contener_btn_retour_fiche {
	float: right;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.--------------listing_video---------------- {
	
}

.contener_box_video_listing {
	float: left;
	width: 216px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_image_videotheque {
	float: left;
	width: 214px;
	margin-bottom: 5px;
	border: 1px solid #EAEAEA;
}

.contener_titre_videotheque {
	float: left;
	width: 206px;
	margin-bottom: 0px;
	background-color: #EAEAEA;
	padding: 5px;
}

.contener_header_video {
	width: 670px;
	height: 30px;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border: 0px solid #CCCCCC;
	margin-right: 5px;
	margin-left: 5px;
}

.image_puce_bleu_video {
	vertical-align: middle;
	margin-right: 3px;
}

.contener_video_a_la_une {
	float: left;
	width: 630px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #EAEAEA;
	margin-right: 5px;
	margin-left: 5px;
}

.image_video_a_la_une {
	float: left;
	margin-right: 15px;
	border: 1px solid #CCCCCC;
}

.contener_duree_videotheque {
	float: left;
	width: 216px;
	margin-bottom: 5px;
}

.contener_pagination_video_haut {
	float: left;
	width: 670px;
	margin-bottom: 10px;
	padding: 0px;
	background-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
	border: 0px solid #CCCCCC;
}

.contener_pagination_video_bas {
	float: left;
	width: 670px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.-------------fiche_video--------------- {
	
}

.contener_duree_video_fiche {
	float: right;
}

.contener_video_fiche {
	float: left;
	width: 670px;
	margin-top: 10px;
	background-color: #EAEAEA;
	height: 403px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	padding-top: 10px;
}

.-------------guides------------------ {
	
}

.contener_fiche_moteur_recherche {
	margin-bottom: 10px;
	width: 650px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
	float: left;
	border: 0px solid #EAEAEA;
	background-image: url(../images/fr/fond_moteur.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.field_themes_guides_pratiques {
	vertical-align: middle;
	font-size: 12px;
	color: #333333;
	padding-right: 3px;
	padding-left: 3px;
}

.contener_date_pdf {
	float: left;
	width: 116px;
	margin-bottom: 0px;
	background-color: #EAEAEA;
	padding: 5px;
	height: 20px;
}

.contener_image_pdf {
	float: left;
	width: 124px;
	margin-bottom: 5px;
	border: 1px solid #EAEAEA;
	height: 165px;
}

.contener_box_pdf_listing {
	float: left;
	width: 126px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	height: 275px;
}

.contener_telecharger_guide_a_la_une {
	float: right;
}

.contener_telecharger_guide {
	width: 124px;
	float: left;
	height: 22px;
	margin-top: 32px;
}

.contener_famille_guide {
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.--------------pagination------------- {
	
}

.numero_pages {
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.numero_pages_over {
	font-size: 12px;
	color: #333333;
	background-color: #CCCCCC;
	padding-right: 3px;
	padding-left: 3px;
}

.contener_suivante_precedente {
	float: right;
}

.image_suivante_precedente {
	margin-left: 5px;
}

.contener_pagination_actualites {
	float: left;
	width: 670px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.contener_pagination_actualites_haut {
	float: left;
	width: 670px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.contener_listing_video_guide {
	float: left;
	width: 680px;
}

.---------------calendrier---------------------- {
	
}

.contener_calendrier {
	width: 232px;
	height: 195px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
}

.contener_titre_calendrier {
	width: 232px;
}

.contener_jours_calendrier {
	width: 232px;
}

.--------------marche_public-------------- {
	
}

.contener_box_marche_public {
	margin: 5px;
	float: left;
	width: 328px;
	border: 1px dotted #FFFFFF;
	background-color: #FFFFFF;
}

.contener_ref_marche_public {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EAEAEA;
	float: left;
	width: 308px;
}

.contener_txt_marche_public {
	width: 321px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 0px;
	float: left;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	margin-top: 5px;
}

.contener_marche_sinscrire {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EAEAEA;
	border-right-color: #EAEAEA;
	border-bottom-color: #EAEAEA;
	border-left-color: #EAEAEA;
}

.btn_consulter {
	margin-top: 5px;
	vertical-align: middle;
	margin-bottom: 5px;
}

.btn_voir_marche {
	float: right;
	margin-top: 8px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
}

.txt_9_333333 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
}

.contener_marche_fiche {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 10px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-bottom: 10px;
}

.contener_doc_telecharger {
	width: 650px;
	margin-right: 5px;
	margin-left: 5px;
	float: left;
	margin-top: 0px;
	background-color: #EAEAEA;
	padding: 10px;
	margin-bottom: 10px;
}

.contener_annonce_marche {
	float: left;
	width: 328px;
}

.contener_log_txt {
	float: left;
	width: 98px;
	height: 19px;
	padding-top: 3px;
	font-size: 11px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.contener_titre_box_log {
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 308px;
	margin-left: 10px;
}

.contener_log_field {
	float: left;
	width: 210px;
	margin-bottom: 5px;
	height: 22px;
}

.contener_box_marche_public_log {
	float: left;
	width: 328px;
	border: 1px solid #EAEAEA;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contener_btn_valider_log {
	width: 308px;
	margin-left: 10px;
	float: left;
	text-align: right;
}

.fied_identifiant {
	font-size: 12px;
	color: #333333;
	width: 175px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #CCCCCC;
}

.fied_datnaiss_jj {
	font-size: 12px;
	color: #333333;
	width: 45px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}

.fied_datnaiss_mm {
	font-size: 12px;
	color: #333333;
	width: 45px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}

.fied_datnaiss_aaaa {
	font-size: 12px;
	color: #333333;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}

.fied_objet {
	font-size: 12px;
	color: #333333;
	width: 182px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}

.fied_identifiant_erreur {
	font-size: 12px;
	color: #333333;
	width: 175px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #FF0000;
}

.fied_siren {
	font-size: 12px;
	color: #333333;
	width: 84px;
	font-family: Arial, Helvetica, sans-serif;
}

.fied_pays {
	font-size: 11px;
	color: #333333;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
}

.field_btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 28px;
	color: #FFFFFF;
	background-color: #A1CBE5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-bottom: 5px;
}

.contener_pass_perdu {
	float: left;
	width: 328px;
}

.contener_inscrivez_vous {
	width: 670px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_form_txt {
	float: left;
	width: 108px;
	height: 19px;
	padding-top: 3px;
	font-size: 11px;
	margin-bottom: 5px;
}
.contener_form_txt120 {
	float: left;
	width: 120px;
	height: 19px;
	padding-top: 3px;
	font-size: 11px;
	margin-bottom: 5px;
}
.contener_form_txt240 {
	float: left;
	width: 240px;
	height: 19px;
	font-size: 11px;
	padding-top: 3px;
	margin-bottom: 3px;
}
.contener_form_field {
	float: left;
	width: 210px;
	margin-bottom: 5px;
	height: 22px;
}

.contener_form_message {
	width: 318px;
	float: left;
	clear: both;
}

.-------------form_contact--------------- {
	
}

.contener_box_form_contact {
	float: left;
	width: 670px;
	border: 1px dotted #FFFFFF;
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.contener_titre_form {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EAEAEA;
	float: left;
	width: 650px;
	margin: 0px;
}

.contener_form_contact_col_gauche {
	width: 335px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contener_form_contact_message {
	width: 308px;
	float: left;
	clear: both;
	margin-left: 10px;
}

.fied_message {
	font-size: 12px;
	color: #333333;
	width: 290px;
	font-family: Arial, Helvetica, sans-serif;
}

.contener_erreur_form {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	float: left;
	width: 660px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #FF0000;
}

.contener_mention_form {
	width: 670px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 10px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.field_btn_contact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #A1CBE5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-bottom: 5px;
	float: right;
	margin-top: 10px;
}

.field_btn_contact:hover {
	background-color: #999;
}

.field_btn_parcourir {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #999;
	border: 0px;
}

.field_btn_parcourir:hover {
	background-color: #A1CBE5;
}

.-------------box_texte-------------------- {
	
}

.contener_titres_centre {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
}

.contener_txt_centre {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.contener_txt_centre a {
	color: #666;
	text-decoration: none !important;
}

.contener_txt_centre a:hover {
	color: #999999;
	text-decoration: none !important;
}

a.lien_text {
	color: #333 !important;
	text-decoration: none !important;
}

a.lien_text:hover {
	color: #91ABCB !important;
	text-decoration: none !important;
}

a.lien_text_bleu {
	color: #91ABCB !important;
	text-decoration: none !important;
}

a.lien_text_bleu:hover {
	color: #333 !important;
	text-decoration: none !important;
}

a.box_lien {
	background-color: #bbb;
	padding: 1px 3px 1px 3px;
	color: #fff !important;
	text-decoration: none;
}

a.box_lien:hover {
	background-color: #91ABCB;
	padding: 1px 3px 1px 3px;
	color: #fff !important;
	text-decoration: none;
}

.contener_txt_centre    ul {
	list-style-type: none;
	list-style-position: outside;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-image: url(../images/fr/puce_carre.gif);
}

.contener_txt_centre    li {
	margin-bottom: 5px;
	margin-left: 0px;
}

.contener_txt_centre ul.list_inside {
	list-style-type: disc !important;
	list-style-position: outside;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 50px !important;
	list-style-image: none !important;
}

.contener_txt_centre ul.list_inside li {
	margin-bottom: 5px;
	margin-left: 0px;
}

.img_droite {
	float: right;
	clear: both;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img_gauche {
	float: left;
	clear: both;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.img_btn_lire_article {
	float: right;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 3px;
}

.img_contact {
	vertical-align: middle;
	margin-right: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.container_article_headline_thematique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #91ABCB;
	text-decoration: none;
	padding-bottom: 5px;
}

.container_article_headline_title {
	padding-bottom: 5px;
}

.container_article_slug_thematique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #91ABCB;
	padding-bottom: 5px;
}

.container_page_category_slug_thematique {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #91ABCB;
	padding: 10px 0px 5px 50px;
	margin: 0px;
	list-style-position: inside;
}

.container_page_category_slug_thematique li {
	clear: both;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 0px 5px 20px;;
}

.container_article_slug_titre {
	font-size: 16px;
	text-decoration: none;
	padding-bottom: 5px;
}

.field_text_comment {
	
}

.field_error {
	border: 1px solid #F00;
}

.contener_f_comment_loading {
	text-align: center;
	padding: 6px;
	display: none;
}

.contener_f_comment_error {
	text-align: center;
	color: #F00;
	padding: 6px;
	display: none;
}

#container_form_comment_success {
	text-align: center;
	padding: 20px 0px;
	display: none;
	color: #91ABCB;
	font-size: 16px;
}

.link_breadcrumb_page_category,.link_breadcrumb_page_category:visited,.link_breadcrumb_page_category:hover
	{
	font-family: Arial, Helvetica, sans-serif;
	color: #E48C1B;
}

.ajax_loading {
	clear: both;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	background-repeat: no-repeat;
	background-image: url(/images/ajax-loader.gif);
	background-position: center bottom;
}

.contener_breadcrumb_page {
	float: left;
	width: 670px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-bottom: 10px;
}

.title_page_category {
	font-size: 14px;
}

.txt_breadcrumb_page_active {
	font-size: 18px;
	color: #91ABCB;
}

.contener_f_poll_error {
	color: #F00;
	display: none;
}

.contener_f_poll_loading {
	background-repeat: no-repeat;
	background-image: url(/images/ajax-loader.gif);
	background-position: center bottom;
	height: 12px;
	display: none;
}

.box_title_layer_error,.box_title_layer {
	padding-top: 5px;
	font-size: 14px;
	color: #FFF;
}

.toggle {
	cursor: pointer;
	font-size: 13px;
	color: #91ABCB;
	font-weight: bold;
}

.toggle:hover {
	color: #333;
}

.toggle_noir {
	color: #333;
	font-weight: normal;
}

.toggle_noir:hover {
	color: #91ABCB;
}

.toggle_puce_carre {
	color: #333;
	padding: 0 0 0 15px;
	margin: 10px 0 10px 25px;
	font-weight: bold;
	background-image: url(../images/fr/puce_carre.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
}

.toggle_puce_carre:hover {
	color: #91ABCB;
}

.toggle_h2 {
	cursor: pointer;
	font-size: 18px;
	color: #91ABCB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #CCCCCC;
	display: block;
	clear: left;
}

.toggle_h2:hover {
	color: #333;
}

.toggle_content {
	background-color: #F0F0F0;
	padding: 10px;
	margin-bottom: 10px;
}

.toggle_content_h2 {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

.puce_carre {
	color: #333;
	padding: 0 0 0 15px;
	margin: 10px 0 10px 25px;
	background-image: url(../images/fr/puce_carre.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
}

.txt16_ffffff {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
}

.txt_12_666 {
	font-size: 12px;
	color: #666 !important;;
	text-decoration: none;
}

.txt_13_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #91ABCB;
}

.txt_14_91ABCB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #91ABCB;
}

.contener_contact_info {
	float: left;
	clear: both;
	width: 670px;
	margin: 0 5px 10px 5px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

.box_contact_info {
	float: left;
	width: 330px;
	margin: 0 10px 0 0;
}

.box_contact_gmap {
	float: left;
	width: 330px;
	background-color: #EBEBEB;
	text-align: center;
	height: 165px;
}

.box_contact_gmap p {
	text-align: center;
	padding: 70px 0 0 0;
}

.container_text_summary_video_headline {
	text-align: justify;
	float: left;
	width: 380px;
	padding-bottom: 20px
}

.container_text_summary_video_headline a {
	color: #000;
}

.container_title_guide {
	padding: 3px;
	height: 200px;
}

.container_advert_col_right {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#block_new_bac {
	visibility: hidden;
	display: none;
}

#block_repair_bac {
	visibility: hidden;
	display: none;
}

.--------ajout_par_dafap---------{
	}
	
p.description {
	color: #626262;
	font-size: 12px;
}

.errors {
	color: #f68b32;
	font-size: 12px;
	font-weight: bold;
}

tr.vertical-align {
	vertical-align: top;
	font-size: 12px;
}

.page-login {
	font-size: 12px;
}

.button_gris_gauche {
	background: url(../images/greybtn.png) no-repeat 0 0;
	width: 10px;
}

.button_gris_milieu {
	background: url(../images/greybtn.png) no-repeat -10px 0px;
}

.button_gris_droite {
	background: url(../images/greybtn.png) no-repeat -370px 0px;
	width: 10px;
}
.button_link {
	text_decoration: none;
	text-color: black;
}
table.button_gris {
	border-style: none;
	border-spacing: 0px;
	border-collapse: collapse;
    line-align: center;
    cursor: pointer;
    margin: 0 0 10px 0;
}
table.button_gris td {
    padding: 0;	
    margin: 0;
	height: 45px;
}
.field_175 {
	font-size: 12px;
	color: #333333;
	width: 175px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #CCCCCC;
}
.field_275 {
	font-size: 12px;
	color: #333333;
	width: 275px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #CCCCCC;
}
.field_100p100 {
	font-size: 12px;
	color: #333333;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #CCCCCC;
}
.field_select_60 {
	font-size: 12px;
	color: #333333;
	width: 60px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}
.field_select_100 {
	font-size: 12px;
	color: #333333;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}
.field_select_175 {
	font-size: 12px;
	color: #333333;
	width: 175px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}
.field_select_275 {
	font-size: 12px;
	color: #333333;
	width: 275px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #CCCCCC;
}
.field_btn_retour {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #A1CBE5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-bottom: 0px;
	float: right;
	margin-top: 3px;
}

.paginationControl {
	float: right;
	color: #626262;
}
.paginationControl a {
	color: #6495ed;
	font-weight: bold;
}
.paginationControl .current {
	color: red;
}
.displaynone {
	display:none;
}

table.pits_index_sadmin {
	font-size: 12px;
	color: #626262;
}
table.pits_index_sadmin a:hover{
	font-weight: bold;
}
tbody.pits_menu_sadmin a{
	font-size: 12px;
	color: #f68b32;
}
tbody.pits_menu_sadmin a:hover{
	font-weight: bold;
	color: #f68b32;
}

table.liste{
	font-size: 12px;		
	border-collapse: collapse;
	margin: 2px 2px 2px 2px;
}
thead.liste{
	background-color: #91abcb;
	border: 2px solid #cccccc;
	line-height: 2.5em;
}
tbody.liste{
	border: 2px solid #cccccc;
}
tbody.liste tr:hover{
	background-color: #ffc;
}
tbody.lignevide{
	border: 0px;
}
tbody.lignevide td{
	border: 0px;
}
tfoot.liste{
	border: 2px solid #cccccc;
}

table.liste th{
	text-align: left;
	border: 1px solid #cccccc;
	padding: 0px 3px;
}
tfoot.liste th{
	text-align:right;
}
table.liste td{
	text-align: left;
	border: 1px solid #cccccc;
	padding: 0px 3px;	
}
tbody.lignevide td{
	border: 0px;
}
table.liste td.numerique{
	text-align: right;
}
table.liste td.largeur80 {
	width: 80px;
}
table.liste td.plusmoins {
	width: 20px;
	vertical-align: middle;
	padding-left: 5px;
}
table.liste tbody.lignevide{
	border: 0px;
	line-height: 0.5em;
}
table.fiche{
	font-size: 12px;		
	border-collapse: collapse;
	margin: 2px 2px 2px 2px;
}
tbody.fiche{
	border: 2px solid #cccccc;
}
table.fiche th{
	text-align: left;
	border: 1px solid #cccccc;
	padding: 0px 5px;
	background-color: #91abcb;
	border: 2px solid #cccccc;
}
table.fiche td {
	border: 1px solid #cccccc;
	padding: 0px 5px;
}
tr.odd {
	background-color: #ffffff;
}
tr.even {
	background-color: #eef;
}
button.hover {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #999;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-bottom: 5px;
	float: right;
	margin-top: 10px;
}
tr.hover {
	background-color: #ffc;
}
table.contener_boutons td{
	border: 0px solid #cccccc;
	font-size: 10px;
}
table.pits {
	border: 0px;
}
table.pits tbody.cadre {
	background-color: #ebebeb;
}
table.encadre {
	border:2px solid #cccccc;
	border-collapse:collapse;
}
table.encadre tr {
	vertical-align:top;
}
table.encadre td, table.encadre th {
	text-align:center;
}
table.encadre td.encadre {
	border:2px solid #cccccc;
	padding-bottom:10px;
}
table.criteres {
	border:3px solid #6495ed;
	border-collapse:collapse;
	width:100%;
	margin:auto;
}
table.criteres tr {
	vertical-align: middle;
}
td.criteres {
	padding-right: 3px;
}
table.criteres p {
	margin-bottom: 0px;
}
	
.description_lien{
	background-color: #bbb;
	font-weight: bold;
}
.field_btn_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #A1CBE5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-color: white;
	margin-bottom: 5px;
	float: right;
	margin-top:3px;
}

.field_btn_header:hover {
	background-color: #999;
}
button.header_hover {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #999;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-color: white;
	margin-bottom: 5px;
	float: right;
	margin-top:3px;
}
td.droite {
	text-align: right;
}
table.pits_index_admin {
	font-size: 12px;
	color: #464855;
	border-color: #a1cbe5;
	border-color: #91abcb;
	border-width: 2px;
	border-spacing: 2px 2px;
	border-style: solid;
	border-collapse: collapse;
	
}

table.pits_index_admin td {
	background-color:#dce4ee;
	background-color: #e2e9f2;
	padding: 2px;
	border: 1px solid white;
}

a.btn_plus {
	display: block;
	background-image:url(../images/plus.png);
	background-repeat:no-repeat;
	text-decoration: none;
}

a.btn_plus:hover {
	display: block;
	background-image:url(../images/plus_hover.png);
	background-repeat:no-repeat;
	text-decoration: none;
}
a.btn_moins {
	display: block;
	background-image:url(../images/moins.png);
	background-repeat:no-repeat;
	text-decoration: none;
}

a.btn_moins:hover {
	display: block;
	background-image:url(../images/moins_hover.png);
	background-repeat:no-repeat;
	text-decoration: none;
}
td.large {
	width:100%;
}

.field_btn_extraction {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #A1CBE5;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.field_btn_extraction:hover {
	background-color: #999;
}
button.extraction_hover {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #999;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-color: white;
	margin-bottom: 5px;
	margin-top:10px;
}
