/**
 * Feuille de style des formulaires de saisie des services
 * 
 * @project sbm
 * @package public/css/ccmgc/sbm-gestion/transport
 * @filesource service-fiche.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 24 juil. 2020
 * @version 2020-2.6.0
 **/
div.p20 {
	width: calc(20% - 25px);
	margin-right: 25px;
}
div.p25 {
	width: calc(25% - 25px);
	margin-right: 25px;
}
div.p30 {
	width: calc(30% - 25px);
	margin-right: 25px;
}

label {
	display: inline-block;
	padding-left: 5px;
	width: 140px;
}

label.sbm-label-semaine {
	width: 50px;
}

label.sbm-label-radio {
	width: 135px;
}
textarea.sbm-note {
	width: calc(100% - 160px);
	height: 80px;
}

label.sbm-label-nature-carte {
	width: 130px;
}

label.sbm-label-semaine.required:after, label.sbm-label-nature-carte.required:after
	{
	content: none;
}

#service-horaire1 legend:after, #service-sens legend:after,
	#service-moment legend:after {
	color: #f78042;
	content: '*';
}

input.submit {
	margin-top: 6px;
	margin-left: 175px;
}

div.clearfix {
	display: flex;
	align-items: center;
}