<p class="premiere  mceNonEditable"><span style="font-size: 14pt; color: #ff6600;"><strong>Du&nbsp;%2$s au %3$s</strong></span>, vous pouvez <strong>inscrire en ligne </strong>sur ce site<strong> &laquo;&nbsp;www.transports-millaugrandscausses.fr&nbsp;&raquo; </strong>vos enfants aux transports scolaires pour l&rsquo;ann&eacute;e %1$s.</p>
<p class="">Ceci pour les usagers r&eacute;sidant sur une des communes de la %6$s* et qui fr&eacute;quentent un &eacute;tablissement scolaire de la Communaut&eacute; de communes.</p>
<p class="mceTmpParagraph"><strong>C&rsquo;est simple et rapide</strong></p>
<ol>
<li class="">cr&eacute;ez votre compte parent et confirmez votre activation de compte dans votre messagerie ;</li>
<li class="">cr&eacute;ez votre fiche parentale ;</li>
<li class="">enregistrez vos enfants, ins&eacute;rez sa photo ;</li>
<li class="">payez directement en ligne ;</li>
<li class="">vous recevrez directement la carte de transport scolaire par courrier.</li>
</ol>
<p>Si vous ne souhaitez pas payer en ligne, vous avez la possibilit&eacute; de r&eacute;gler par ch&egrave;que bancaire &agrave; l&rsquo;ordre du Tr&eacute;sor Public (envoi postal &agrave; l&rsquo;adresse ci-dessous) ou esp&egrave;ces directement dans les locaux de la Communaut&eacute; de communes.</p>
<p>Les inscriptions et l&rsquo;envoi de la carte ne seront d&eacute;finitives qu&rsquo;apr&egrave;s paiement de la carte de transport.</p>
<p>Vous avez aussi la possibilit&eacute; de venir lors des permanences pr&eacute;vues fin ao&ucirc;t pour &eacute;tablir la carte de transport scolaire &agrave; la Communaut&eacute; de communes, muni de la photo de l&rsquo;enfant et du r&egrave;glement.</p>
<p>Les permanences&nbsp;:</p>
<p style="text-align: center;">%8$s</p>
<p>Pour tous renseignements, adressez-vous directement au service des transports :</p>
<p style="text-align: center;">%9$s</p>
<p>(*)&nbsp;: les 15 communes de la&nbsp;%6$s : %7$s.</p>
<div><span id="help-papier" class="cursor-help orange"><strong>Inscription sur bulletin papier&nbsp;<em class="fam-help">&nbsp;</em></strong></span><span id="help-horszone" class="cursor-help orange" style="margin-left: 5em;"><strong>&Eacute;l&egrave;ve scolaris&eacute; en dehors de la Communaut&eacute; de communes&nbsp;</strong><em class="fam-help">&nbsp;</em></span></div>
<div id="content-papier" style="display: none;">
<p>Vous avez aussi la possibilit&eacute; d&rsquo;inscrire vos enfants avec le bulletin papier. T&eacute;l&eacute;chargez le document sur le site internet de la Communaut&eacute;&nbsp;: <a href="%11$s" target="_blank">%11$s</a>, imprimez-le, compl&eacute;tez toutes les rubriques et adressez-le ou d&eacute;posez-le &agrave; la Communaut&eacute; de communes avant le&nbsp;%3$s accompagn&eacute; du r&egrave;glement et de la photo.</p>
<p>Vous recevrez en retour la carte par courrier.</p>
<p class="cursor-zoom-out orange retour"><em class="fam-cancel">&nbsp;</em> Cacher</p>
</div>
<div id="content-horszone" style="display: none;">
<p>Si votre enfant est scolaris&eacute; en dehors des %5$s communes, vous devez vous inscrire aupr&egrave;s du service R&eacute;gional des transports de l&rsquo;Aveyron &agrave; l&rsquo;adresse : <a href="%10$s" target="_blank">%10$s</a></p>
<p class="cursor-zoom-out orange retour"><em class="fam-cancel">&nbsp;</em> Cacher</p>
</div>