<p class="premiere  mceNonEditable">Les inscriptions aux transports scolaires de la rentr&eacute;e %1$s pour les usagers r&eacute;sidant sur une des communes de la %6$s* et qui fr&eacute;quentent un &eacute;tablissement scolaire de la Communaut&eacute; de communes sont ouvertes.</p>
<p class="mceTmpParagraph"><strong>C&rsquo;est simple et rapide</strong></p>
<ol>
<li class="">Connectez-vous &agrave; votre compte parent en vous identifiant.
<ul>
<li>Si vous avez oubli&eacute; votre mot de passe cliquez sur <a href="../login/mdp-demande">mot de passe oubli&eacute;</a>.</li>
<li>Si vous avez chang&eacute; d&rsquo;adresse mail adressez-vous au service de la Communaut&eacute; de communes pour qu&rsquo;elle soit mise &agrave; jour.</li>
<li>Si vous n&rsquo;aviez pas de compte, cr&eacute;ez-en un et confirmez son activation dans votre messagerie.</li>
</ul>
</li>
<li class="">V&eacute;rifiez ou cr&eacute;ez votre fiche parentale</li>
<li class="">Enregistrez vos enfants, ins&eacute;rez leur photo</li>
<li class="">Payez directement en ligne</li>
<li class="">Vous recevrez directement la carte de transport scolaire par courrier, avant la rentr&eacute;e scolaire si vous faites les inscriptions avant le %3$s.</li>
</ol>
<p>Pour des questions de s&eacute;curit&eacute; li&eacute;es au COVID19, vous aurez aussi la possibilit&eacute; de venir sur rendez-vous pour &eacute;tablir la carte de transport scolaire directement &agrave; la Communaut&eacute; de communes, muni de la photo de l&rsquo;enfant et du r&egrave;glement.</p>
<p>Vous pouvez aussi d&eacute;poser le dossier papier complet &ndash; un formulaire par enfant, le r&egrave;glement de la cotisation par ch&egrave;que &agrave; l&rsquo;ordre du Tr&eacute;sor Public et une photo r&eacute;cente &ndash; que vous pourrez d&eacute;poser directement dans la bo&icirc;te aux lettres de la Communaut&eacute; de communes, rue Droite.</p>
<p>Pour tous renseignements, adressez-vous directement au service des transports &agrave; l'adresse suivante :</p>
<p style="text-align: center;">%9$s</p>
<p>(*)&nbsp;: les 15 communes de la&nbsp;%6$s : %7$s.</p>
<div><span id="help-papier" class="cursor-help orange"><strong>Inscription sur bulletin papier&nbsp;<em class="fam-help">&nbsp;</em></strong></span><span id="help-horszone" class="cursor-help orange" style="margin-left: 5em;"><strong>&Eacute;l&egrave;ve scolaris&eacute; en dehors de la Communaut&eacute; de communes&nbsp;</strong><em class="fam-help">&nbsp;</em></span></div>
<div id="content-papier" style="display: none;">
<p>Vous avez aussi la possibilit&eacute; d&rsquo;inscrire vos enfants avec le bulletin papier. T&eacute;l&eacute;chargez le document sur le site internet de la Communaut&eacute;&nbsp;: <a href="%11$s" target="_blank">%11$s</a>, imprimez-le, compl&eacute;tez toutes les rubriques et adressez-le ou d&eacute;posez-le &agrave; la Communaut&eacute; de communes avant le&nbsp;%3$s accompagn&eacute; du r&egrave;glement et de la photo.</p>
<p>Vous recevrez en retour la carte par courrier.</p>
<p class="cursor-zoom-out orange retour"><em class="fam-cancel">&nbsp;</em> Cacher</p>
</div>
<div id="content-horszone" style="display: none;">
<p>Si votre enfant est scolaris&eacute; en dehors des %5$s communes, vous devez vous inscrire aupr&egrave;s du service R&eacute;gional des transports de l&rsquo;Aveyron &agrave; l&rsquo;adresse : <a href="%10$s" target="_blank">%10$s</a></p>
<p class="cursor-zoom-out orange retour"><em class="fam-cancel">&nbsp;</em> Cacher</p>
</div>