<p>La p&eacute;riode d&rsquo;inscription en ligne aux transports scolaires de la %6$s* pour la rentr&eacute;e&nbsp;%1$s est close.</p>
<p><strong>Inscription sur bulletin papier&nbsp;:</strong></p>
<p>Vous devez inscrire vos enfants avec le bulletin papier.</p>
<p>T&eacute;l&eacute;chargez le document sur le site internet de la Communaut&eacute;&nbsp;:&nbsp;<a href="%12$s">%12$s</a>, imprimez-le, compl&eacute;tez toutes les rubriques et adressez-le ou d&eacute;posez-le &agrave; la Communaut&eacute; de communes accompagn&eacute; du r&egrave;glement et de la photo.</p>
<p>Vous recevrez en retour la carte par courrier.</p>
<p>Pour tous renseignements ou pour toute nouvelle inscription, adressez-vous directement au service des transports &agrave; l'adresse :</p>
<p style="text-align: center;">%9$s&nbsp;</p>
<p>(*)&nbsp;: les 15 communes de la&nbsp;%6$s : %7$s.</p>
<div><span id="help-horszone" class="cursor-help orange" style="margin-left: 5em;"><strong>&Eacute;l&egrave;ve scolaris&eacute; en dehors de la Communaut&eacute; de communes&nbsp;</strong><em class="fam-help">&nbsp;</em></span></div>
<div id="content-horszone" style="display: none;">
<p>Si votre enfant est scolaris&eacute; en dehors des %5$s communes, vous devez vous inscrire aupr&egrave;s du service R&eacute;gional des transports de l&rsquo;Aveyron &agrave; l&rsquo;adresse : <a href="%10$s" target="_blank">%10$s</a></p>
<p class="cursor-zoom-out orange retour"><em class="fam-cancel">&nbsp;</em> Cacher</p>
</div>