<p>Vous n'avez pas encore d'enfant inscrit.</p>
<p>Votre demande sera trait&eacute;e dans la mesure des places disponibles.</p>
<ul>
<li>Inscrivez tous vos enfants qui doivent utiliser le service de transports scolaires</li>
<li>Transmettez une photo d'identit&eacute; r&eacute;cente qui sera imprim&eacute;e sur la carte de transport. En cas de r&eacute;inscription, les photos de moins de deux ans d&eacute;j&agrave; pr&eacute;sentes peuvent &ecirc;tre conserv&eacute;es.</li>
<li>Payez en ligne ou transmettez votre paiement par courrier au service de transport de %5$s.</li>
</ul>
<p>Si les inscriptions sont compl&egrave;tes et si des places sont disponibles, vous recevrez les cartes de transport dans les meilleurs d&eacute;lais.</p>
<p>Pour des questions de s&eacute;curit&eacute; li&eacute;es au COVID19, les rencontres avec le service de transport de la Communaut&eacute; de communes se font sur rendez-vous.</p>
<p><strong>Quel que soit votre moyen de paiement, les inscriptions ne seront prises en compte qu'une fois le paiement enregistr&eacute;.</strong></p>
<p><strong><em>V&eacute;rifiez votre adresse et vos num&eacute;ros de t&eacute;l&eacute;phone</em></strong> puis cliquez sur le bouton <strong><em>Inscrire un enfant</em></strong> pour commencer les inscriptions.</p>
<blockquote>%8$s</blockquote>
<div class="menu clearfix">%10$s</div>