<p>Vous n'avez pas encore d'enfant inscrit.</p>
<p>Avant le %3$s et afin de retenir une place :</p>
<ul>
	<li>Inscrivez tous vos enfants qui doivent utiliser le service de
		transports scolaires</li>
	<li>Transmettez une photo d'identité récente qui sera imprimée sur
		la carte de transport. En cas de réinscription, si une photo de moins
		de deux ans est déjà présente sur la fiche de votre enfant, vous
		pourrez la conserver ou la changer.</li>
	<li>Payez en ligne ou transmettez votre paiement par courrier au
		service de transport de %5$s.
	</li>
</ul>
<p>Si les inscriptions sont complètes dans le respect de la date
	indiquée, vous recevrez les cartes de transport courant août ou
	septembre.</p>
<p>Sinon, présentez-vous lors des permanences pour
	compléter l'inscription, payer et retirer les cartes.</p>
<ul>
	<li>Pour les habitants de %9$s</li>
</ul>
<p>
	<b>Quelque soit votre moyen de paiement, les inscriptions ne seront
		prises en compte qu'une fois le paiement enregistré.</b>
</p>
<p>
	<b><i>Vérifiez votre adresse et vos numéros de téléphone</i></b> puis
	cliquez sur le bouton <b><i>Inscrire un enfant</i></b> pour commencer
	les inscriptions.
</p>
<blockquote>%8$s</blockquote>
<div class="menu clearfix">%10$s</div>