/**
 * Feuille de style des pages du module
 * 
 * @project sbm
 * @package public/css/mgc/cleversms
 * @filesource clever-sms.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 19 avr. 2019
 * @version 2019-2.5.0
 **/
#clever-sms-inner dl {
	border: 1px solid #f78042;
	border-radius: 4px 4px 4px 4px;
	padding: 6px 6px 6px 6px;
	margin: 12px 3px 6px 10px;
}

.colonnes dl {	
	width: 450px;
	background-color: initial;
}

dl.even, dl.odd  {
	float:left;
}

dl.inline {
	margin-left: 10px;
}

dl.inline dt {
	display: inline-block;
	min-width: 20em;
	padding-top: 3px;
	padding-bottom: 3px;
}

dl.inline dd {
	display: inline;
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

dl.inline dd:after {
	display: block;
	content: '';
}

