/**
 * Feuille de style des pages du thème
 * 
 * @project sbm
 * @package public/css/tra
 * @filesource sbm.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 11 mai 2020
 * @version 2020-2.6.0
 **/

/*--------- GENERAL ------------------*/
h1 {
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 8px;
}

h1.accueil {
	text-transform: uppercase;
}

h2 {
	font-size: 1.2em;
	margin-top: 3px;
	margin-bottom: 5px;
}

h3 {
	font-size: 1em;
	margin-top: 2px;
	margin-bottom: 3px;
}

#menugeneral-inner form {
	display: inline-block;
}
/*--------- TOP-SITE -----------------*/
#top-site {
	height: 20px;
	margin: 0;
	text-align: center;
	font-size: 0.75em;
	color: #999;
	width: 100%;
	padding: 0;
}

#top-site a {
	color: #666;
	padding: 1px 4px;
	text-decoration: none;
}

#top-site a:hover {
	color: black;
	font-weight: bold;
}

#top-site div.float-left {
	position: initial;
	top: initial;
}
/*--------- Header -----------------*/
#bandeau {
	height: 105px;
	margin: 0;
	width: 100%;
}

.page1 #header #bandeau {
	background-image: url("/img/bandeau-sbm.png");
	background-size: 100% 105px;
	background-repeat: no-repeat;
}
/*-------- Footer -----------------*/
#footer {
	color: #666;
	font-size: 0.75em;
	height: 23px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	clear: both;
	overflow: hidden;
}

#footer a {
	color: #666;
	text-decoration: none;
}

#footer a:hover {
	color: black;
	font-weight: bold;
}
/*---------- Accueil -------------*/
table.grille-tarifs {
	border-collapse: collapse;
}

table.grille-tarifs th {
	border: 1px solid gray;
	text-align: center;
}

table.grille-tarifs td {
	border: 1px solid gray;
}

table.grille-tarifs th.none {
	border: none;
}

div.instructions li, div#content-payer div {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
}