/**
 * Feuille de style 
 *
 * 
 * 
 * @project sbm
 * @package public/css/tra/sbm-parent/config
 * @filesource config.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 8 mai 2020
 * @version 2020-2.6.0
 **/
@charset "UTF-8";

div.enfant-label, form#enfant label
	{
	display: inline-block;
	width: 175px;
	padding-left: 5px;
}