/**
 * Feuille de style des pages du module
 * 
 * @project sbm
 * @package public/css/ccmgc/sbm-installation
 * @filesource edit-config-calendar.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 8 mai 2019
 * @version 2019-2.5.0
 **/
#sbm-config label {
	display: inline-block;
	padding-left: 5px;
}

#sbm-config input[type=text] {
	width: 30em;
	margin-bottom: 0.5em;
}

#sbm-config input[type=submit] {
	margin-left: 20px;
}

#sbm-config input[type=submit][name=submit].calendar {
	margin-left: 20px;
}

#sbm-config input[type=button], #sbm-config button {
	margin-left: 50px;
}

#sbm-config span.label {
	display: inline-block;
	width: 10em;
}

#sbm-config fieldset.sbm-page1 {
	margin-bottom: 0.3em;
	float: left;
	width: 47%;
}
