/**
 * Feuille de style de la page sbm-gestion/finance/paiement-detail.phtml
 *
 * (edit.phtml)
 * 
 * @project sbm
 * @package public/css/mgc/sbm-gestion/finance
 * @filesource paiement-detail.css
 * @encodage UTF-8
 * @author DAFAP Informatique - Alain Pomirol (dafap@free.fr)
 * @date 26 avr. 2019
 * @version 2019-2.5.0
 **/
fieldset {
	border: 1px solid #f78042;
	border-radius: 4px 4px 4px 4px;
}

legend {
	font-style: italic;
}

.separateur {
	border-top: 1px solid darkblue;
	margin-top: 6px;
	padding-top: 4px;
}

td {
	border-top: inherit;
	margin-top: inherit;
	padding-top: inherit;
	vertical-align: top;
}

.ligne-facture td:nth-child(2), .liste-tarifs td:nth-child(3),
	.liste-paiements td:nth-child(3), .liste-factures td:nth-child(5) {
	text-align: right;
}

.liste-tarifs td:nth-child(2), .liste-eleves td:nth-child(4),
	.liste-eleves td:nth-child(5), .liste-eleves th:nth-child(4),
	.liste-eleves th:nth-child(5) {
	text-align: center;
}

ul.detail-abonnements {
	font-size: 90%;
	list-style: circle;
	padding-left: 20px;
	padding-right: 10px;
}